@font-face {
    font-family: "fraunces";
    src: url("assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}

@font-face {
    font-family: "manrope";
    src: url("assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

:root {
    --dark-purple: #24053E;
    --davy-s-grey: #584D62;
    --eucaplyptus: #44FFA1;
    --ghost-white: #FCF8FF;
    --white: #FFFFFF;
}

.heading-l {
    font-family: fraunces;
    font-size: 80px;
    font-weight: 600;
    line-height: 80px;
}

.heading-m {
    font-family: fraunces;
    font-size: 56px;
    font-weight: 600;
    line-height: 64px;
}

.heading-s {
    font-family: fraunces;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

.body {
    font-family: manrope;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.nav-link {
    font-family: manrope;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: var(--white);
    text-decoration: underline var(--eucaplyptus);
    text-underline-offset: 6px;
}